*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-container{
  height: 100vh;
  width: 100vw;
  display: flex;
}
.app-content{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
.sidebar{
  min-height:800px;
  
}
.header{
  width: 100%;
}
.post-card{
  margin:20px 50px;
  padding:10px 20px;
  border-radius: 10px;
 
}
.badge{
  padding:2px;
  margin:2px;
}
.reactions{
  width: 100%;
  margin:15px 0 0 0;
}
.create-post{
  width: 80%;
  margin-left:10%;
  margin-top:50px;
}